.choice {
  color: $white;
  font-family: $secondaryFont;
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__form {
    background: $paneBg;
    border-radius: 2px;
    padding: 8px 16px;
  }

  &__title {
    font-size: 20px;
    margin: 4px auto 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &__label {
    font-size: 14px;
    margin: 0 auto 12px;
  }

  &__message {
    color: $white;
    font-size: 12px;
  }

  &__group {
    margin: 4px;
  }

  &__button {
    align-items: center;
    align-content: center;
    background: var(--grad-dark-blue);
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: $secondaryFont;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    letter-spacing: 2px;
    margin: 12px auto;
    max-width: 160px;
    outline: none;
    padding: 8px 14px;
    text-transform: uppercase;
    transform: scale(1);
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    width: 100%
  }
}
