.grid {
  background: linear-gradient(-45deg, var(--grad-dark-blue), var(--grad-light-blue));
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  max-height: 600px;
  max-width: 360px;
  overflow: hidden;
  padding: $padding;
  width: 100vw;
  &--login {
    align-items: center;
    grid-template-rows: 120px 50px auto;
    justify-items: center;
  }
  &--signup {
    align-items: center;
    grid-template-rows: 120px 50px auto;
    justify-items: center;
  }
  &--solidBlue {
    background: var(--grad-light-blue);
  }
  &--payment {
    grid-template-rows: 48px 32px auto 70px;
    position: relative;
  }
  &--choice {
    grid-template-rows: 48px 64px 32px auto 70px;
    position: relative;
  }
  &--identities {
    grid-template-rows: 48px auto 50px auto 70px;
  }
  &--main {
    grid-template-rows: 60px 50px 382px 70px;
  }
  &--details {
    grid-template-rows: 30px 90px 30px auto 70px;
  }
  &--modify {
    grid-template-rows: 50px 90px 50px auto 50px;
  }
  &--screen {
    grid-template-rows: 60px auto 70px;
  }
  &--pwGen {
    grid-template-rows: 60px 50px auto 70px;
  }
  &--mail {
    grid-template-rows: 50px 32px 40px auto 70px;
    padding: 8px;
  }
}
