.heading {
  display: block;
  margin: auto 0 0 -16px;
  max-height: 100px;
  max-width: 360px;
  overflow: hidden;
  width: 100%;

  & img {
    display: block;
    margin: 0 auto;
    max-height: 48px;
    max-width: 240px;
    width: 90%;
  }

  .logo {
    max-height: 48px;
    max-width: 240px;
  }
}
