.loader {
  background: $white;
  height: 100vh;
  max-height: 600px;
  max-width: 360px;
  position: absolute;
  width: 100vw;
  z-index: 1;
  &__dot {
    background: var(--grad-light-blue);
    border-radius: 50%;
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    transform-origin: top right;
    right: 0;
    top: 0;
    transition: all 0.4s ease-out 1s;
    width: 20px;
    &--1 {
      animation: grow-shrink 1.5s ease-out 0s forwards infinite;
    }
    &--2 {
      animation: grow-shrink 1.5s ease-out 0.75s forwards infinite;
    }
    &--loaded {
      animation: enlarge 0.4s ease-out 0s forwards 1;
    }
  }
  &__text {
    align-items: flex-end;
    display: flex;
    font-family: $secondaryFont;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    letter-spacing: 2px;
    justify-content: center;
    padding: 0 0 200px 0;
    position: relative;
    text-transform: uppercase;
    &--loaded {
      z-index: -1;
    }
  }
}

@keyframes grow-shrink {
  0% {
    opacity: 0;
    transform: scale(1) rotate(0deg);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(2) rotate(220deg);
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(360deg);
  }
}

@keyframes enlarge {
  from {
    transform: scale(1);
    transform-origin: center;
  }
  to {
    transform: scale(50);
    transform-origin: center;
  }
}
