.pay {
  margin: 0 0 0 -16px;
  overflow: hidden;
  padding: 0 16px;
  width: 360px;
  &--1 {
    transform: translate3d(0, 0, 0);
  }
  &--2 {
    transform: translate3d(-100vw, 0, 0);
  }
  &--3 {
    transform: translate3d(-200vw, 0, 0);
  }
  &--4 {
    transform: translate3d(-300vw, 0, 0);
  }
}

.payment {
  &__paragraph {
    color: $white;
    font-family: $secondaryFont;
    font-size: 16px;
    text-align: center;
  }
  &__coming {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: -16px 0 0;
    position: absolute;
    width: 100%;
  }
  &__banner {
    font-family: $secondaryFont;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__method {
    background: var(--dark-blue);
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 0;
    position: relative;
  }
  &__methodTitle {
    color: $white;
    font-family: $secondaryFont;
    font-size: 24px;
    margin: 8px auto;
    text-align: center;
  }
  &__methodImage {
    background: var(--dark-blue);
    margin: 0 auto;
    padding: 8px 16px;
    text-align: center;
  }
  &__hr {
    color: $white;
    font-family: $secondaryFont;
    font-size: 24px;
    margin: 12px auto;
    text-align: center;
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
