.plan {
  background: $lighterBlue;
  border-radius: 8px;
  color: $white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: $secondaryFont;
  font-size: 16px;
  margin: 8px auto;
  overflow: hidden;
  padding: 8px;
  &__title {
    display: block;
    font-weight: 700;
    margin: 0 auto 8px;
    text-decoration: underline;
  }
  &__details {
    padding: 0 8px 0 0;
  }
  &__list {
    padding: 0 0 0 24px;
    text-align: left;
  }
  &__listItem {
    text-align: left;
    list-style-type: disc;
  }
  &__buy {
  justify-items: end;
  }
  &__button{
    background: var(--grad-dark-blue);
    border: 0;
    color: $white;
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 16px;
    font-weight: normal;
    height: calc(100% + 20px);
    letter-spacing: 2px;
    margin: -10px -10px 0 0;
    text-transform: uppercase;
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    width: calc(100% + 10px);
    &:hover, &:focus {
      background: #eee;
      color: var(--light-blue);
      outline: 0;
    }
  }
}
