.radio {
  /* Customize the label (the container) */
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  // text-transform: uppercase;
  user-select: none;

  /* Hide the browser's default radio button */
  &__input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    &:checked ~ .radio__checkmark {
      background-color: $lightBlue;
    }
    &:checked ~ .radio__checkmark:after {
      display: block;
    }
  }
  /* Create a custom radio button */
  &__checkmark {
    background-color: $white;
    border-radius: 50%;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;

    &:after {
      background: $white;
      border-radius: 50%;
      content: "";
      display: none;
      height: 8px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 8px;
    }
  }
}
