.stripe {
  &__button {
    border: 0;
    background: var(--grad-dark-blue);
    border-radius: 8px;
    cursor: pointer;
    color: $white;
    font-family: $secondaryFont;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 12px auto;
    padding: 16px 24px;
    text-transform: uppercase;
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    width: 100%;
    &:hover, &:focus {
      background: $white;
      color: var(--grad-dark-blue);
    }
  }
  &__label {
    font-family: $secondaryFont;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 auto 2px;
    display: block;
  }
  &__error {
    color: $white;
    font-family: $secondaryFont;
    font-size: 14px;
    font-weight: 700;
    margin: 8px auto;
  }
}
