@import "svg";

:root {
  --grad-light-red: #de2525;
  --grad-dark-red: #a11414;
  --text-color: #fff;
}

.error {
  margin: 0;
  padding: 0;
  &__container {
    align-items: center;
    background: linear-gradient(360deg, var(--grad-dark-red), var(--grad-light-red));
    margin: 0;
    display: grid;
    font-family: 'Montserrat', Helvetica, Arial, system-ui, sans-serif;
    grid-auto-columns: 1fr;
    height: 100vh;
    max-width: 1440px;
    width: 100vw;
  }
  & h1,h2,p{
    text-align: center;
    user-select: none;
  }
  & h1 {
    color: #fff;
    font-size: 3rem;
    margin: 16px auto;
    text-transform: uppercase;
    text-shadow: rgba(19, 51, 152, 0.6) 1px 1px 4px;
  }
  @media only screen and (min-width: 540px) {
    & h1 {
      font-size: 4rem;
    }
  }
  & h2 {
    color: #fefefe;
    font-size: 2rem;
    margin: 16px auto;
    text-transform: uppercase;
    text-shadow: rgba(19, 51, 152, 0.88) 2px 2px 2px;
  }
  @media only screen and (min-width: 540px) {
    & h2 {
      font-size: 3rem;
    }
  }
  & p, & a, & a:link {
    color: #ddd;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
  }
  & a {
    transition: color 0.3s ease-out;
  }
  & a:hover {
    color: #fff;
  }
}
