.svgError {
  margin: 16px auto;
  max-width: 800px;
  user-select: none;
  width: 90vw;
  @media only screen and (min-width: 540px) {
    .svgError {
      max-width: 80vw;
    }
  }
  &__shadow {
    animation: shadow 2s ease-in-out 0s infinite alternate;
    transform-origin: center bottom;
  }
  &__mark {
    animation: hoverMark 2s ease-in-out 0s infinite alternate;
  }
}

@keyframes hoverMark {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

@keyframes shadow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.92);
  }
}
