.svgError {
  margin: 16px auto;
  max-width: 800px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90vw; }
  @media only screen and (min-width: 540px) {
    .svgError .svgError {
      max-width: 80vw; } }
  .svgError__shadow {
    -webkit-animation: shadow 2s ease-in-out 0s infinite alternate;
    animation: shadow 2s ease-in-out 0s infinite alternate;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom; }
  .svgError__mark {
    -webkit-animation: hoverMark 2s ease-in-out 0s infinite alternate;
    animation: hoverMark 2s ease-in-out 0s infinite alternate; }

@-webkit-keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }

@keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }

@-webkit-keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.92);
    transform: scale(0.92); } }

@keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.92);
    transform: scale(0.92); } }

:root {
  --grad-light-red: #de2525;
  --grad-dark-red: #a11414;
  --text-color: #fff; }

.error {
  margin: 0;
  padding: 0; }
  .error__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left bottom, left top, from(var(--grad-dark-red)), to(var(--grad-light-red)));
    background: -webkit-linear-gradient(bottom, var(--grad-dark-red), var(--grad-light-red));
    background: -o-linear-gradient(bottom, var(--grad-dark-red), var(--grad-light-red));
    background: linear-gradient(360deg, var(--grad-dark-red), var(--grad-light-red));
    margin: 0;
    display: -ms-grid;
    display: grid;
    font-family: 'Montserrat', Helvetica, Arial, system-ui, sans-serif;
    grid-auto-columns: 1fr;
    height: 100vh;
    max-width: 1440px;
    width: 100vw; }
  .error h1, .error h2, .error p {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .error h1 {
    color: #fff;
    font-size: 3rem;
    margin: 16px auto;
    text-transform: uppercase;
    text-shadow: rgba(19, 51, 152, 0.6) 1px 1px 4px; }
  @media only screen and (min-width: 540px) {
    .error h1 {
      font-size: 4rem; } }
  .error h2 {
    color: #fefefe;
    font-size: 2rem;
    margin: 16px auto;
    text-transform: uppercase;
    text-shadow: rgba(19, 51, 152, 0.88) 2px 2px 2px; }
  @media only screen and (min-width: 540px) {
    .error h2 {
      font-size: 3rem; } }
  .error p, .error a, .error a:link {
    color: #ddd;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0; }
  .error a {
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  .error a:hover {
    color: #fff; }
