/* Declare variables */
:root {
  --grad-light-blue: #255bde;
  --grad-dark-blue: #12368f;
  --light-blue: #143da1;
  --dark-blue: #00074d;
  --dark-red: #c00;
  --text-color: #fff; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 600px;
  overflow: hidden;
  width: 360px; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  height: 600px;
  width: 360px; }

h2 {
  color: #fff;
  font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase; }

label {
  color: #fff;
  font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif; }

hr {
  border-color: white;
  margin: 8px auto 18px;
  width: 80%; }

.hr--full {
  width: 100%; }

input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
  font-size: 14px;
  height: 28px;
  outline: none; }

meter {
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: .5em;
  margin: 0 auto 1em;
  width: 100%; }

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px; }

meter::-webkit-meter-optimum-value {
  border-radius: 4px; }

meter::-moz-meter-bar {
  border-radius: 4px; }

meter[value="1"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="2"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="3"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="4"]::-webkit-meter-optimum-value {
  background: #fff; }

meter[value="1"]::-moz-meter-bar {
  background: #fff; }

meter[value="2"]::-moz-meter-bar {
  background: #fff; }

meter[value="3"]::-moz-meter-bar {
  background: #fff; }

meter[value="4"]::-moz-meter-bar {
  background: #fff; }

.hidden {
  display: none;
  visibility: hidden; }

.bold {
  font-weight: 700; }

.no-margin {
  margin: 0 !important; }

.link {
  color: #fff;
  text-decoration: underline; }

#agree {
  vertical-align: middle; }

.vertical-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.container {
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.title {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 26px;
  margin: 12px auto 8px; }

/* Setup custom font */
@font-face {
  font-family: 'Nexa';
  /*a name to be used later*/
  src: url("../font/NexaRegular.woff");
  /*URL to font*/ }

.grid {
  background: -webkit-linear-gradient(135deg, var(--grad-dark-blue), var(--grad-light-blue));
  background: -o-linear-gradient(135deg, var(--grad-dark-blue), var(--grad-light-blue));
  background: linear-gradient(-45deg, var(--grad-dark-blue), var(--grad-light-blue));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  max-height: 600px;
  max-width: 360px;
  overflow: hidden;
  padding: 16px;
  width: 100vw; }
  .grid--login {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-rows: 120px 50px auto;
    grid-template-rows: 120px 50px auto;
    justify-items: center; }
  .grid--signup {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-rows: 120px 50px auto;
    grid-template-rows: 120px 50px auto;
    justify-items: center; }
  .grid--solidBlue {
    background: var(--grad-light-blue); }
  .grid--payment {
    -ms-grid-rows: 48px 32px auto 70px;
    grid-template-rows: 48px 32px auto 70px;
    position: relative; }
  .grid--choice {
    -ms-grid-rows: 48px 64px 32px auto 70px;
    grid-template-rows: 48px 64px 32px auto 70px;
    position: relative; }
  .grid--identities {
    -ms-grid-rows: 48px auto 50px auto 70px;
    grid-template-rows: 48px auto 50px auto 70px; }
  .grid--main {
    -ms-grid-rows: 60px 50px 382px 70px;
    grid-template-rows: 60px 50px 382px 70px; }
  .grid--details {
    -ms-grid-rows: 30px 90px 30px auto 70px;
    grid-template-rows: 30px 90px 30px auto 70px; }
  .grid--modify {
    -ms-grid-rows: 50px 90px 50px auto 50px;
    grid-template-rows: 50px 90px 50px auto 50px; }
  .grid--screen {
    -ms-grid-rows: 60px auto 70px;
    grid-template-rows: 60px auto 70px; }
  .grid--pwGen {
    -ms-grid-rows: 60px 50px auto 70px;
    grid-template-rows: 60px 50px auto 70px; }
  .grid--mail {
    -ms-grid-rows: 50px 32px 40px auto 70px;
    grid-template-rows: 50px 32px 40px auto 70px;
    padding: 8px; }

.heading {
  display: block;
  margin: auto 0 0 -16px;
  max-height: 100px;
  max-width: 360px;
  overflow: hidden;
  width: 100%; }
  .heading img {
    display: block;
    margin: 0 auto;
    max-height: 48px;
    max-width: 240px;
    width: 90%; }
  .heading .logo {
    max-height: 48px;
    max-width: 240px; }

.detail {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .detail__title, .detail__title h2 {
    color: #fff;
    font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
    font-size: 24px;
    margin: 10px auto 4px;
    max-width: 328px;
    text-transform: uppercase; }
  .detail__termsFrame {
    background: #fff;
    height: 280px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 8px;
    width: 100%; }
  .detail__email {
    color: #fff;
    font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
    font-size: 16px;
    margin: 4px auto 4px;
    text-transform: lowercase; }
  .detail__optionList {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .detail__optionItem {
    padding: 8px 0px; }
  .detail__optionItem, .detail__optionItem a {
    color: #fff;
    display: block;
    font-family: "Nexa", Helvetica, Arial, system-ui, sans-serif;
    font-size: 16px;
    text-decoration: none; }
  .detail__optionItem a {
    border-radius: 4px;
    padding: 8px 0px;
    width: 100%; }
    .detail__optionItem a:hover {
      background: var(--grad-dark-blue); }

#detailBrief {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pay {
  margin: 0 0 0 -16px;
  overflow: hidden;
  padding: 0 16px;
  width: 360px; }
  .pay--1 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .pay--2 {
    -webkit-transform: translate3d(-100vw, 0, 0);
    transform: translate3d(-100vw, 0, 0); }
  .pay--3 {
    -webkit-transform: translate3d(-200vw, 0, 0);
    transform: translate3d(-200vw, 0, 0); }
  .pay--4 {
    -webkit-transform: translate3d(-300vw, 0, 0);
    transform: translate3d(-300vw, 0, 0); }

.payment__paragraph {
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 16px;
  text-align: center; }

.payment__coming {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -16px 0 0;
  position: absolute;
  width: 100%; }

.payment__banner {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

.payment__method {
  background: var(--dark-blue);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 0;
  position: relative; }

.payment__methodTitle {
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 24px;
  margin: 8px auto;
  text-align: center; }

.payment__methodImage {
  background: var(--dark-blue);
  margin: 0 auto;
  padding: 8px 16px;
  text-align: center; }

.payment__hr {
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 24px;
  margin: 12px auto;
  text-align: center; }

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease; }

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

.plan {
  background: #3b6ce1;
  border-radius: 8px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 16px;
  margin: 8px auto;
  overflow: hidden;
  padding: 8px; }
  .plan__title {
    display: block;
    font-weight: 700;
    margin: 0 auto 8px;
    text-decoration: underline; }
  .plan__details {
    padding: 0 8px 0 0; }
  .plan__list {
    padding: 0 0 0 24px;
    text-align: left; }
  .plan__listItem {
    text-align: left;
    list-style-type: disc; }
  .plan__buy {
    justify-items: end; }
  .plan__button {
    background: var(--grad-dark-blue);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: calc(100% + 20px);
    letter-spacing: 2px;
    margin: -10px -10px 0 0;
    text-transform: uppercase;
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    width: calc(100% + 10px); }
    .plan__button:hover, .plan__button:focus {
      background: #eee;
      color: var(--light-blue);
      outline: 0; }

.slideshow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw 100vw 100vw 100vw;
  grid-template-columns: 100vw 100vw 100vw 100vw;
  -webkit-transition: -webkit-transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: calc(100vw - 32px); }
  .slideshow__navigation {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 360px;
    width: 100%; }
    .slideshow__navigation div:nth-child(1) {
      display: -ms-grid;
      display: grid;
      justify-items: end; }
    .slideshow__navigation div:nth-child(2) {
      display: -ms-grid;
      display: grid;
      justify-items: start; }
  .slideshow__btnNav {
    background: var(--grad-light-blue);
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    outline: 0;
    padding: 8px;
    width: 32px; }
    .slideshow__btnNav:focus, .slideshow__btnNav:active {
      outline: 0; }
    .slideshow__btnNav svg {
      background: transparent;
      border-radius: 50%;
      margin: -8px 0 0;
      padding: 8px;
      -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .slideshow__btnNav svg path {
      -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .slideshow__btnNav:hover svg {
      background: #fff; }
    .slideshow__btnNav:hover svg path {
      fill: var(--grad-light-blue); }

.stripe__button {
  border: 0;
  background: var(--grad-dark-blue);
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 12px auto;
  padding: 16px 24px;
  text-transform: uppercase;
  transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
  width: 100%; }
  .stripe__button:hover, .stripe__button:focus {
    background: #fff;
    color: var(--grad-dark-blue); }

.stripe__label {
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 auto 2px;
  display: block; }

.stripe__error {
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 8px auto; }

.loader {
  background: #fff;
  height: 100vh;
  max-height: 600px;
  max-width: 360px;
  position: absolute;
  width: 100vw;
  z-index: 1; }
  .loader__dot {
    background: var(--grad-light-blue);
    border-radius: 50%;
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s ease-out 1s;
    -o-transition: all 0.4s ease-out 1s;
    transition: all 0.4s ease-out 1s;
    width: 20px; }
    .loader__dot--1 {
      -webkit-animation: grow-shrink 1.5s ease-out 0s forwards infinite;
      animation: grow-shrink 1.5s ease-out 0s forwards infinite; }
    .loader__dot--2 {
      -webkit-animation: grow-shrink 1.5s ease-out 0.75s forwards infinite;
      animation: grow-shrink 1.5s ease-out 0.75s forwards infinite; }
    .loader__dot--loaded {
      -webkit-animation: enlarge 0.4s ease-out 0s forwards 1;
      animation: enlarge 0.4s ease-out 0s forwards 1; }
  .loader__text {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    letter-spacing: 2px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 200px 0;
    position: relative;
    text-transform: uppercase; }
    .loader__text--loaded {
      z-index: -1; }

@-webkit-keyframes grow-shrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: scale(2) rotate(220deg);
    transform: scale(2) rotate(220deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }

@keyframes grow-shrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  30% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: scale(2) rotate(220deg);
    transform: scale(2) rotate(220deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center; }
  to {
    -webkit-transform: scale(50);
    transform: scale(50);
    -webkit-transform-origin: center;
    transform-origin: center; } }

@keyframes enlarge {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center; }
  to {
    -webkit-transform: scale(50);
    transform: scale(50);
    -webkit-transform-origin: center;
    transform-origin: center; } }

.choice {
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif; }
  .choice__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .choice__form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 8px 16px; }
  .choice__title {
    font-size: 20px;
    margin: 4px auto 16px;
    text-align: center;
    text-transform: uppercase; }
  .choice__label {
    font-size: 14px;
    margin: 0 auto 12px; }
  .choice__message {
    color: #fff;
    font-size: 12px; }
  .choice__group {
    margin: 4px; }
  .choice__button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background: var(--grad-dark-blue);
    border: none;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Montserrat", Helvetica, Arial, system-ui, sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: 2px;
    margin: 12px auto;
    max-width: 160px;
    outline: none;
    padding: 8px 14px;
    text-transform: uppercase;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: background 0.2s ease-out, color 0.2s ease, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    transition: background 0.2s ease-out, color 0.2s ease, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    -o-transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease-out;
    width: 100%; }

.radio {
  /* Customize the label (the container) */
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */ }
  .radio__input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0; }
    .radio__input:checked ~ .radio__checkmark {
      background-color: #1a4ece; }
    .radio__input:checked ~ .radio__checkmark:after {
      display: block; }
  .radio__checkmark {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px; }
    .radio__checkmark:after {
      background: #fff;
      border-radius: 50%;
      content: "";
      display: none;
      height: 8px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 8px; }

/* The switch - the box around the slider */
.toggle {
  display: block;
  height: 32px;
  margin: 0 auto;
  position: relative;
  width: 72px;
  /* Hide default HTML checkbox */ }
  .toggle__input {
    height: 0;
    opacity: 0;
    width: 0; }
    .toggle__input:checked + .toggle__switch {
      background-color: #1a4ece; }
    .toggle__input:checked + .toggle__switch:before {
      -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
      transform: translateX(40px); }
    .toggle__input:checked + .toggle__switch:after {
      content: 'On';
      left: 8px; }
    .toggle__input:focus + .toggle__switch {
      -webkit-box-shadow: 0 0 1px #1a4ece;
      box-shadow: 0 0 1px #1a4ece; }
  .toggle__switch {
    background-color: #a1b3e0;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .toggle__switch:after {
      content: 'Off';
      font-size: 14px;
      font-weight: 700;
      left: 34px;
      line-height: 36px;
      position: relative;
      text-transform: uppercase; }
    .toggle__switch:before {
      background-color: white;
      border-radius: 50%;
      bottom: 4px;
      content: "";
      height: 24px;
      left: 4px;
      position: absolute;
      -webkit-transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: 0.28s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 24px; }
  .toggle__option {
    bottom: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .toggle__option--left {
      left: -40px; }
    .toggle__option--right {
      right: -30px; }
