:root {
  --grad-light-blue: #255bde;
  --grad-dark-blue: #12368f;

  --light-blue: #143da1;
  --dark-blue: #00074d;
  --dark-red: #c00;

  --text-color: #fff;
}

body {
  background: linear-gradient(360deg, #143da1, #255bde);
  height: 100vh;
  margin: 0;
}
.success__container {
  align-items: center;
  display: grid;
  font-family: 'Montserrat', Helvetica, Arial, system-ui, sans-serif;
  grid-auto-columns: 1fr;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  width: 100vw;
}
#success {
  max-width: 800px;
  margin: 16px auto;
  user-select: none;
}
@media only screen and (min-width: 540px) {
  #success {
    max-width: 80vw;
  }
}
#checkmark {
  animation-direction: alternate;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#shadow {
  animation-direction: alternate;
  animation-name: shadow-blur;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
h1,h2,p{
  text-align: center;
  user-select: none;
}
h1 {
  color: #fff;
  font-size: 3rem;
  margin: 16px auto;
  text-transform: uppercase;
  text-shadow: rgba(19, 51, 152, 0.6) 1px 1px 4px;
}
@media only screen and (min-width: 540px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  color: #fefefe;
  font-size: 2rem;
  margin: 16px auto;
  text-transform: uppercase;
  text-shadow: rgba(19, 51, 152, 0.88) 2px 2px 2px;
}
@media only screen and (min-width: 540px) {
  h2 {
    font-size: 3rem;
  }
}
p, a, a:link {
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}
a {
  transition: color 0.3s ease-out;
}
a:hover {
  color: #fff;
}
@keyframes float{
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(12px);
  }
}
@keyframes shadow-blur {
  from {
    filter: blur(6px);
    transform-origin: bottom;
    transform: scale(0.94);
  }
  to {
    filter: blur(1px);
    transform-origin: bottom;
    transform: scale(1);
  }
}
.btn {
  background: var(--grad-dark-blue);
  border: none;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 400;
  height: 48px;
  margin: 32px auto 0;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  width: calc(100% - 24px);
}
.btn:hover {
  background: #fff;
  color: var(--grad-dark-blue);
}
