.svgError {
  margin: 16px auto;
  max-width: 800px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90vw; }
  @media only screen and (min-width: 540px) {
    .svgError .svgError {
      max-width: 80vw; } }
  .svgError__shadow {
    -webkit-animation: shadow 2s ease-in-out 0s infinite alternate;
    animation: shadow 2s ease-in-out 0s infinite alternate;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom; }
  .svgError__mark {
    -webkit-animation: hoverMark 2s ease-in-out 0s infinite alternate;
    animation: hoverMark 2s ease-in-out 0s infinite alternate; }

@-webkit-keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }

@keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }

@-webkit-keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.92);
    transform: scale(0.92); } }

@keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.92);
    transform: scale(0.92); } }
