.svgError {
  max-width: 600px;
  width: 90vw; }
  .svgError__shadow {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  .svgError__mark {
    -webkit-animation: hoverMark 2s ease-in-out 0s infinite alternate;
    animation: hoverMark 2s ease-in-out 0s infinite alternate; }

/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/
@-webkit-keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }
@keyframes hoverMark {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }

@-webkit-keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@keyframes shadow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }
